# Función map()

In [6]:
numeros = [2,5,10,23,50,33]

def doblar(numero):
    return numero * 2

m = map(doblar, numeros)

In [7]:
list(m)

[4, 10, 20, 46, 100, 66]

In [8]:
# con lambda
list(map(lambda x: x*2, numeros))

[4, 10, 20, 46, 100, 66]

In [11]:
a = [1,2,3,4,5]
b = [6,7,8,9,10]

# Multiplicar una lista por otra

nueva_lista = list(map(lambda x,y: x*y, a,b))

In [12]:
nueva_lista

[6, 14, 24, 36, 50]

In [13]:
c = [11,12,13,14,15]

nueva_lista = list(map(lambda x,y,z: x*y*z, a,b,c))

In [14]:
nueva_lista

[66, 168, 312, 504, 750]

In [2]:

class Persona:
    
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad
    
    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)
    
    
personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Eduardo", 12)
]

In [16]:
def incrementar(persona):
    persona.edad += 1
    return persona

personas = map(incrementar, personas)

In [17]:
for persona in personas:
    print(persona)

Juan de 36 años
Marta de 17 años
Eduardo de 13 años

In [3]:
personas = map ( lambda persona: Persona(persona.nombre, persona.edad+1), personas )

In [4]:
for persona in personas:
    print(persona)

Juan de 36 años
Marta de 17 años
Eduardo de 13 años

In [9]:
numeros = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
numeros = list(filter(lambda num: num%5==0, map(lambda num: num/2, numeros)))

In [12]:
numeros

[5.0]